site_name: Joan
# nav:
#   - Home: index.md
#   - About: about.md
#   - Code: code-example.md
site_url: https://sitename.example
theme: 
  name: material
  font:
    text: Red Hat Mono
  logo: assets/logo.jpg
  favicon: assets/favicon.ico
  features:
    - navigation.footer
  palette:
    - scheme: default
      primary: yellow
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      media: "(prefers-color-scheme: light)"

    - scheme: slate
      primary: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      media: "(prefers-color-scheme: dark)"

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
extra:
  social:
    - icon: simple/youtube
      link: https://www.youtube.com/@Jopcopin
    - icon: simple/linkedin
      link: https://www.linkedin.com/in/joan-palacios-caballero/
copyright: Copyright &copy; 2024 Joan Palacios Caballero